<section>

  <div class="custom-container margin-box">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Ingrasys</li>
      </ol>
    </nav>



    {{!-- banner pic in css --}}
    <div class="about-banner">



      <img src="./assets/img/about/banner.png" alt="">

    </div>

    <div class="custom-container">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">

        <li class="active"><a data-toggle="pill" href="#home" class="custom-btn">Company Overview</a></li>

        <li><a id="nav-a" data-toggle="pill" href="#dms" class="custom-btn"> Digital Manufacturing Service</a></li>

      </ul>

      {{!-- content --}}

      <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
          <div class="custom-container margin-box" id="section06">


            <div class="story-wrapper">
              <div class="title-box title-left">
                <h1 class="about-title"> Ingrasys Story</h1>
                <h class="line"> </h>
              </div>
              <br>

              <div class="story-content">
                <div class="story-img">

                  <div id="immersion" class="carousel slide carousel-mobile carousel-fade" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="./assets/img/about/slideshow/office.jpg" alt="1-slide">
                      </div>
                      <div class="item">
                        <img src="./assets/img/about/slideshow/ceremony.jpg" alt="2-slide">
                      </div>
                      <div class="item">
                        <img src="./assets/img/about/slideshow/wisoffice.jpg" alt="3-slide">
                      </div>
                      <div class="item">
                        <img src="./assets/img/about/slideshow/discuss.jfif" alt="4-slide">
                      </div>
                      <div class="item">
                        <img src="./assets/img/about/slideshow/intern.jfif" alt="5-slide">
                      </div>

                      <!-- Controls -->
                      <a class="left carousel-control" href="#immersion" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#immersion" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                  </div>


                </div>
                <div class="story-para">
                  <p>
                    Ingrasys is a global leading cloud infrastructure provider that leverages innovative technology -
                    Hyperconverged
                    infrastructure, HPC with CDI Architecture, AI/ML, Advanced Cooling - to help worldwide customers
                    meet their needs for
                    sophisticated data center operation.
                  </p>

                  <br>

                  <p>
                    Building upon our expertise in engineering, business and operations, we offer not only a wide
                    range of products,
                    including servers, storage, HPC accelerators, and workstations, but we also provide fully integrated
                    services.
                  </p>

                  <br>
                  <p>
                    Ingrasys continues to develop technology solutions and services to ensure long-term partnerships
                    and support for our
                    clients. We track industry & technology trends and then innovate to expand the hyper scale cloud
                    ecosystem.
                  </p>




                </div>

              </div>


            </div>


          </div>

          <div class="custom-container margin-box">




            <div class="leader-wrapper">
              {{!-- <div class="title-box title-left">
                <h1 class="about-title"> Leadership</h1>
                <h class="line"> </h>
              </div>
              <br> --}}

              <div class="leader-content">
                {{!-- <div class="card leader img-left">
                  <div class="leader-pic">
                    <img src=" /assets/img/about/chou.jpg" class="card-img-top" alt="...">
                  </div>
                  <div class="leader-para">
                    <div class="leader-name">
                      <h1>Tai-Yu Chou</h1>
                      <p> Founder/CTO, Foxconn Industrial Internet
                      </p>
                      <div class="line"></div>
                    </div>
                    <div class="leader-quote">
                      <p>
                        “ A Satisfied Customer Is the Best Business Strategy of All ”
                      </p>
                    </div>
                  </div>

                </div> --}}

                {{!-- <div class="card leader img-left">
                  <div class="leader-pic">
                    <img src=" /assets/img/about/ben.jpg" class="card-img-top" alt="...">
                  </div>

                  <div class="leader-para">
                    <div class="leader-name">
                      <h1>Benjamin Ting</h1>
                      <p> President, Ingrasys
                      </p>
                      <div class="line"></div>
                    </div>
                    <div class="leader-quote">
                      <p>“ Be Different ; Be Unique ” </p>
                    </div>
                  </div>

                </div> --}}


              </div>



            </div>

          </div>

          <div class="custom-container margin-box">

            <div class="scale-container">

              <div class="advan-item">
                <div class="advan-icon">
                  <img src="./assets/img/about/scale/engineers.png" alt="">
                </div>
                <br>
                <div class="scale-number">
                  <h class="counter">1000</h>
                  <h>+</h>

                </div>


                <p>Engineers</p>

              </div>
              <div class="advan-item">
                <div class="advan-icon">
                  <img src="./assets/img/about/scale/office.png" alt="">
                </div>
                <br>
                <div class="scale-number">
                  <h class="counter">14</h>
                  <h>+</h>

                </div>

                <p>Global Offices </p>
              </div>
              <div class="advan-item">
                <div class="advan-icon">
                  <img src="./assets/img/about/scale/patent.png" alt="">
                </div>
                <br>
                <div class="scale-number">
                  <h class="counter">880</h>
                  <h>+</h>

                </div>


                <p>Patents</p>


              </div>


              <div class="advan-item">
                <div class="advan-icon">
                  <img src="./assets/img/about/scale/pcb.png" alt="">
                </div>
                <br>
                <div class="scale-number">
                  <h class="counter">320</h>
                  <h>+</h>
                </div>
                <p>Board Designs<br> per year</p>

              </div>

            </div>






          </div>

          <div class="custom-container margin-box">
            <div class="office-wrapper">
              <div class="title-box title-left">
                <h1 class="about-title"> Our Offices</h1>
                <h class="line"> </h>
              </div>
              <br>

              <div class="container-boxy">

                <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe1" href="javascript:;"
                  aria-expanded="false">
                  <h>North America</h>
                </a>

                <div class="collapse" id="collaspe1">

                  <div class="country-section">

                    <div class="country">
                      <h4> United States</h4>
                    </div>

                    <div class="office-container">

                      {{#each offices.usa}}
                      <div class="card card-location">

                        <img src={{this.image}} class="card-img-top" alt="...">

                        <div class="card-body">

                          <h class="city-text">{{this.city}}</h>


                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> {{this.address}}
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> {{this.function}}

                          </p>
                          <a class="card-text card-address" href={{this.map}}>Get Directions</a>
                        </div>
                      </div>
                      {{/each}}




                    </div>

                  </div>

                  <div class="country-section">
                    <div class="country">
                      <h4>Mexico</h4>
                    </div>

                    <div class="office-container">

                      {{#each offices.mexico}}
                      <div class="card card-location">

                        <img src={{this.image}} class="card-img-top" alt="...">
                        <div class="card-body">

                          <h class="city-text">{{this.city}}</h>

                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> {{this.address}}
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> {{this.function}}
                          </p>
                          <a class="card-text card-address" href={{this.map}}>Get Directions</a>
                        </div>
                      </div>
                      {{/each}}
                    </div>
                  </div>

                </div>

                <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe2" href="javascript:;"
                  aria-expanded="false">
                  <h>Asia</h>
                </a>

                <div class="collapse" id="collaspe2">
                  <div class="country-section">

                    <div class="country">
                      <h4> Taiwan</h4>
                    </div>
                    <div class="office-container">
                      {{#each offices.taiwan}}
                      <div class="card card-location">

                        <img src={{this.image}} class="card-img-top" alt="...">
                        <div class="card-body">

                          <h class="city-text">{{this.city}}</h>

                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> {{this.address}}
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> {{this.function}}

                          </p>

                          <a class="card-text card-address" href={{this.map}}>Get Directions</a>
                        </div>
                      </div>
                      {{/each}}
                    </div>
                  </div>

                  <div class="country-section">
                    <div class="country">
                      <h4> China</h4>
                    </div>

                    <div class="office-container">
                      {{#each offices.china}}
                      <div class="card card-location">

                        <img src={{this.image}} class="card-img-top" alt="...">
                        <div class="card-body">

                          <h class="city-text">{{this.city}}</h>

                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> {{this.address}}
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> {{this.function}}
                          </p>
                          <a class="card-text card-address" href={{this.map}}>Get Directions</a>
                        </div>
                      </div>
                      {{/each}}
                    </div>
                  </div>

                  <div class="country-section">
                    <div class="country">
                      <h4> Singapore</h4>
                    </div>

                    <div class="office-container">
                      {{#each offices.singapore}}
                      <div class="card card-location">

                        <img src={{this.image}} class="card-img-top" alt="...">
                        <div class="card-body">

                          <h class="city-text">{{this.city}}</h>

                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> {{this.address}}
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> {{this.function}}
                          </p>
                          <a class="card-text card-address" href={{this.map}}>Get Directions</a>
                        </div>
                      </div>
                      {{/each}}
                    </div>
                  </div>
                </div>

                <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe3" href="javascript:;"
                  aria-expanded="false">
                  <h>Europe</h>
                </a>
                <div class="collapse" id="collaspe3">

                  <div class="country-section">

                    <div class="country">
                      <h4>Hungary</h4>
                    </div>

                    <div class="office-container">

                      <div class="card card-location">

                        <img src=" /assets/img/about/hungary.png" class="card-img-top" alt="...">
                        <div class="card-body">

                          <h class="city-text">Hungary</h>

                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> Komárom, Bánki Donát
                            u. 1,
                            2900
                            Hungary<br>
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> Operation
                          </p>
                          <a class="card-text card-address" href="https://goo.gl/maps/iP9JWBqmXVLw3gnx7">Get
                            Direction</a>
                        </div>
                      </div>



                    </div>
                  </div>
                  <div class="country-section">
                    <div class="country">
                      <h4>Czech Republic</h4>
                    </div>

                    <div class="office-container">

                      <div class="card card-location">

                        <img src=" /assets/img/about/cz.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                          <h class="city-text">Czech</h>

                          <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> Karlov 245, 284 01
                            Kutná
                            Hora,Czech Republic<br>
                          </p>
                          <p>
                            <i class="far fa-briefcase"></i> Operation
                          </p>
                          <a class="card-text card-address" href="https://goo.gl/maps/cpM3jQnGSSKm3krG8">Get
                            Direction</a>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>





              </div>

            </div>
          </div>

          {{!-- <div class="custom-container">
            <form enctype="text/plain" accept-charset="utf-8">
              <!-- 寄件者姓名    -->
              <input id="nameText" type="text" name="Name" value size="60" placeholder="姓名(name)" required>
              <!-- required 必填欄位 ，placeholder 預設內容-->

              <!-- 寄件者email -->
              <input id="emailText" type="email" name="Email" value size="60" placeholder="Email" required>

              <!-- 寄件者電話 -->
              <input id="telText" type="tel" name="Phone" value size="60" aria-invalid="false" placeholder="電話(phone)"
                required>

              <!-- 郵件主旨 -->
              <input id="subText" type="text" name="Subject" value size="60" aria-invalid="false"
                placeholder="主旨(subject)" required>

              <!-- 郵件內容 -->
              <textarea id="bodyText" name="your-message" cols="40" rows="10" aria-required="true" aria-invalid="false"
                placeholder="你的訊息(Your Message)" required></textarea>

              <!-- 傳送按鈕 -->
              <div>
                <input type="button" value="送出訊息" onclick="submitHandler();">
                <a id="mailTo"></a>
              </div>
            </form>

          </div> --}}


        </div>

        <div id="dms" class="tab-pane fade">


          <div class="content-wrapper">


            <div class="dms-intro">
              <div class="title-box title-left">
                <h class="focus-title-small">IoT System</h>
                <h1 class="about-title"> Digital Manufacturing Service</h1>
                <h class="line"> </h>
              </div>

              <div class="content-video">
                <video controls="true" class="embed-responsive-item" poster="./assets/img/about/dms/poster.jpg">
                  <source src="/assets/img/about/dms/dms.mp4" type="video/mp4" />
                </video>

              </div>

              <div class="content-para">
                <p>
                  Digital Manufacturing Service (DMS) owns a well-defined architecture, which connects numerous existing
                  systems with standard protocols, shared
                  database, and embeds
                  IoTs (Internet of Things), AI technologies, and UI / applications to construct a total solution for
                  factory management
                  that’s driven by digital science.

                </p>


              </div>

            </div>

            <div class="dms-advantage">

              <div class="dms-item">
                <div class="title-box title-left">
                  <h1 class="about-title"> In factory Logistics</h1>
                  <h class="line"> </h>
                </div>
                <div class="content-img">
                  <img src="/assets/img/about/dms/logistics2.jpg" alt="">

                </div>
                <div class="content-para">
                  <p>
                    With deep integration of AI forecast prediction model, APS (Advanced Production Scheduling) system,
                    ERP system, Smart
                    warehouse plus WMS (Warehouse Management System, and AGVs, we can achieve JIT (Just In Time)
                    in-house
                    material supply;
                    making sure all materials arrive at the right time and right place, all optimized by digital
                    science.
                  </p>

                </div>

              </div>

              <div class="dms-item">
                <div class="title-box title-left">
                  <h1 class="about-title"> Smart Manufacturing</h1>
                  <h class="line"> </h>
                </div>
                <div class="content-img">
                  <img src="/assets/img/about/dms/sm2.jpg" alt="">

                </div>
                <div class="content-para">
                  <P>
                    Ingrasys devotes great effort to bring
                    IoT, Big Data, and AI
                    technologies down to earth, adopting them into
                    real production
                    lines with self-developed applications and UIs.

                  </P>

                </div>

              </div>


              <div class="dms-item">
                <div class="title-box title-left">
                  <h1 class="about-title"> Safety as Priority</h1>
                  <h class="line"> </h>
                </div>
                <div class="content-img">
                  <img src="/assets/img/about/dms/safety2.png" alt="">

                </div>
                <div class="content-para">
                  <p>
                    DMS plays a critical role by connecting all kinds of sensors, alarms, and smart controllers together
                    to create an
                    environment that puts all hazardous factors in real-time monitoring and control. High availability
                    systems enable us to
                    have no single point of failure in all safety applications with no compromises.
                  </p>

                </div>

              </div>

              <div class="dms-item">
                <div class="title-box title-left">
                  <h1 class="about-title"> Green Manufacturing</h1>
                  <h class="line"> </h>
                </div>
                <div class="content-img">
                  <img src="/assets/img/about/dms/green2.jpg" alt="">

                </div>
                <div class="content-para">
                  <p>
                    Our DMS allows direct communications between sensors, machines, and MES (Manufacturing Execution
                    System) system for
                    optimized production process, and provides real-time data collection and analysis for improved
                    energy
                    efficiency and
                    controlled pollutant emission through resource recycling, pollution control, waste disposal and
                    digital environment
                    technology.
                  </p>

                </div>


              </div>





            </div>

          </div>



          <div class="custom-container">


          </div>

        </div>


      </div>

    </div>


  </div>

</section>